body {
    background-color: dodgerblue;
}

header {
    text-align: center;
}

h1 {
    font-family: sans-serif;
    color: whitesmoke;
    background-color: navy;
    border-radius: 0.25em;
    padding: 0.25em 0.25em 0.25em;
    display: inline-block;
}
p {
    background-color: whitesmoke;
    padding: 0.5em;
    border-radius: 0.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

strong {
    background-color: navy;
    color: whitesmoke;
    border-radius: 0.25em;
    padding-left: 0.25em;
    padding-right: 0.25em;

}